*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E1014;
    color: #FFFFFF;
    
}


/* cabeçalho */
header{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-top: 1rem;
}

/* conteudo */
h1{
    font-size: 80px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin-top: 3.75rem;
}

h1 span{
    color: #9747FF;
}

p{
    font-size: 1.5rem;
    font-family: "Poppins", Arial;
    text-align: center;
    margin: 1.5rem auto 2.5rem auto;
    width: 49.5rem;
}

a{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: "Poppins", Arial;
    text-decoration: none;
    background-color: #9747FF;
    text-align: center;
    line-height: 4.125rem;
    margin: 2.5rem auto;

    display: block;
    width: 21.25rem;
    height: 4.125rem;
    border-radius: 36px;
    
        &:hover{
            background-color: #8233E8;
        }
}

main img{
    display: block;
    width: 792px;
    height: 446px;
    margin: auto;
}


@media (max-width:768px) {

    p{
        width: 40.5rem;
    }
    
}

@media (max-width: 375px) {

        h1{
            font-size: 2.5rem;
        }

        
     p{
        font-size: 1.25rem;
        width: 21.3125rem;
    }
    
    a{
        width: 15.6875rem;
        height: 4.125rem;
        font-size: 1.25rem;
    }



    main img{
        width: 21.3125rem;
        height: 14.41313rem;
    }
    
}